nav.navigation 
.navigation__wrapper 
    a.navigation_link(href="/") 
        | Floema

        svg.navigation__link__icon

    ul.navigation__list
        li.nvigation__list__item  
            a.navigation__list__link(href="/about") About

        li.nvigation__list__item
            a.navigation__list__link(href="/") Collection 