doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" contact="width=device-width, initial-scale=1.0")

        base(href="/")

        title Floema
        
        meta(name="description" content="Floema good jewelry")

        link(rel="preconnect" href="https://www.google-analytics.com")
        link(rel="preconnect" href="https://fonts.gstatic.com")

        link(href="main.css" rel="stylesheet")

    body
        .preloader 
            p.preloader_text
                |The surprise of what is possible
                |to make with a simple 
                |and thin thread.
            
            .preloader_number
        